@font-face {
    font-family: "Ubuntu";
    src: url("./fonts/ubuntu/Ubuntu-Regular.ttf");
}

.coneiner{
    background: url(./image/Фон\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100wv;
    height: 100vh;
    font-family: "Ubuntu";
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 18px 79px;
    color: white;
    background: rgba(0, 0, 0, 0.4);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.registration:hover{
    opacity: 0.5;
}

.tittel:hover{
    color: #01813F;
    transition: 300ms;
    opacity: 0.6;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_icon{
    padding-right: 26px;
}

.nav_icon:hover{
transition: 300ms;
opacity: 0.5;
filter: invert(26%) sepia(60%) saturate(3052%) hue-rotate(421deg) brightness(59%) contrast(97%);
}

.palka{
    padding-right: 25px;
    opacity: 0.5;
}

.reg_1:hover{
color: #01813F;
transition: 300ms;
}

.tittle:hover{
    color: #01813F;
    transition: 300ms;
    }

.main{
position: absolute;
width: 444px;
height: 584px;
top: 50%;
left: 50%;
transform: translate( -50%, -50% );
background-color: white;
padding-top: 29px;
display: flex;
justify-content: space-between;


}

.log-in{
color: #01813F;
}

.squre-wrapper{
    float: left;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 60px 38px 42px ;
}

.form-text, .autorization, .form__sign-up{
    display: flex;
    justify-content: space-between;
}

.facebook-wrapper{
    background-color:  #305DB8;
    padding: 12px 22px;
    border-radius: 3px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;

}

.facebook-wrapper:hover{
    background-color:#022263 ;
}

.f{
    font-size: 24px;
    font-weight: 700;
}

.fcebook-line{
    font-size: 24px;
    opacity: 0.1;
    color: black;
}

.facebook{
    font-size: 16px;
    line-height: 16px;
}

.google-wrapper{
    background-color: #DF4A32;
    padding: 12px 22px;
    border-radius: 3px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
}

.google-wrapper:hover{
    background-color:#AB1F09 ;
}

.g{
    font-size: 24px;
    font-weight: 700;
}

.google-line{
    font-size: 24px;
    opacity: 0.1;
    color: black;
}

.google{
    font-size: 16px;
    line-height: 16px;
}

.or-wrapper{
    padding-top: 32px;
    padding-bottom: 11px;
}

.or{
    color: #848484 ;
    font-size: 14px;
    line-height: 14px;
}

.form__sign-up{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 347px;
}

.sign-up-item {
    width: 322px;
    height: 44.08px;
    border: 1px solid #F2F2F2;
    padding: 15px 19px;
    border-radius: 4px;
    opacity: 0.6;
}


.sign-up-item:focus{
box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
border-radius: 4px;
}

.terms{
    color: #3CB878;
}

.terms:hover, .log-in:hover{
    color: #3CB878;
    text-decoration: underline;
}

.button-wrapper{
    background-color:#3CB878 ;
    text-align: center;
    width: 324px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content:center ;
    font-size: 16px;
    line-height: 16px;
}
.button-wrapper:hover{
    background-color:#01813F ;
}


